.login {
    width: 100vw;
    height: 100vh;
    background-image: url(../../image/bg.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        width: 500px;
        border: 1px solid;
        border-radius: 8px;
        background-color: #2d3a4b;
        padding-top: 20px;
        opacity: 0.8;
    }

    h2 {
        text-align: center;
    }
}